.navs a {
  display: flex;
  padding: 12px 20px;
  align-items: center;
  justify-content: start;
  text-transform: capitalize;
  min-height: fit-content;
}

.navs a.active {
  background-color: rgba(25, 118, 210, 0.06);
}

.MuiButtonBase-root.Mui-selected {
  background-color: rgba(25, 118, 210, 0.06);
}

.navs a:hover {
  background-color: rgba(25, 118, 210, 0.03);
}

.navs .MuiTabs-indicator {
  width: 3px;
}

.logout button {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.179);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.logout button:hover {
  background-color: #ff0000;
  color: #fff;
}
